<div class="container">
  <nav>
    <ul class="nav mb-5 mt-3 justify-content-center">
      <li>
        <a
          class="nav-link bg-primary text-white mr-3 rounded"
          routerLink="/add-student"
          >Add a New Student</a
        >
      </li>
      <li>
        <a
          class="nav-link bg-primary text-white mr-3 rounded"
          routerLink="/add-class"
          >Add a New Class</a
        >
      </li>
      <li>
        <a
          class="nav-link bg-info text-white mr-3 rounded"
          routerLink="/show-classes"
          >Classes List</a
        >
      </li>
      <li>
        <a
          class="nav-link bg-info text-white mr-3 rounded"
          routerLink="/show-students"
          >Students List</a
        >
      </li>
      <li>
        <a
          class="nav-link bg-danger text-white mr-3 rounded"
          routerLink="/register-student"
          >Register a New Student</a
        >
      </li>
      <li>
        <a
          class="nav-link bg-success text-white mr-3 rounded"
          routerLink="/show-registered-students"
          >Show registered_students</a
        >
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
