<div class="container-fluid mt-5" style="text-align: center">
  <form (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input
        type="text"
        [(ngModel)]="studentForm.name"
        name="name"
        placeholder="name"
      />
    </label>
    <label>
      age:
      <input
        type="number"
        [(ngModel)]="studentForm.age"
        name="age"
        placeholder="age"
      />
    </label>
    <label>
      Country:
      <input
        type="text"
        [(ngModel)]="studentForm.country"
        name="country"
        placeholder="country"
      />
    </label>
    <label>
      Phone:
      <input
        type="number"
        [(ngModel)]="studentForm.phone"
        name="phone"
        placeholder="phone"
      />
    </label>
    <label>
      Student picture:
      <input type="file" (change)="onFileChange($event)" name="picture" />
    </label>
    <input type="submit" name="submit" value="Record" class="btn btn-success" />
  </form>
</div>
